<div id="landingPage">
    <div class="d-flex">
        <div class="col-12 col-md-5 accessPageLeft hidden-sm-down d-none d-sm-none d-md-block">
            <img width="250" src="https://static1.squarespace.com/static/55b523b7e4b08415a07a1687/t/5892366c29687fda177b549c/1532370592644/?format=1500w">
        </div>
        <div class="col-12 col-md-7 accessPageRight">
            <div class="access_form">
                <h3>Reset Password</h3>
                <!-- <pre>{{ accountForm.value | json }}</pre> -->
                <form #accountForm="ngForm" (ngSubmit)="accountForm.form.valid && onSubmit(accountForm.value)" [mustMatch]="['newPassword', 'confirmNewPassword']">
                <!-- <div *ngIf="invalidLogin" class="alert alert-danger">{{errorMessage}}</div> -->
                    <input type="text" class="formField form-control" name='username' [(ngModel)]='userAccount.username' placeholder="User Name" required #userNameRef="ngModel">
                    <div *ngIf="userNameRef.errors?.required && (userNameRef.dirty || userNameRef.touched)" class="alert alert-danger">User Name is required</div>
                    <div *ngIf="oldPasswordWrong"  class="alert alert-danger">Incorrect old username or password</div>

                    <input type="text" class="formField form-control" name='defaultPassword' [(ngModel)]='userAccount.defaultPassword' type="password" placeholder="{{oldPasswordPlaceholder}}" required #defaultPasswordRef>
                    <div *ngIf="defaultPasswordRef.errors?.required && (defaultPasswordRef.dirty || defaultPasswordRef.touched)" class="alert alert-danger"> User Name is required </div>

                    <input type="text" class="formField form-control" name="newPassword" [(ngModel)]='userAccount.newPassword' type="password" placeholder="New Password" required #newPasswordRef="ngModel">
                    <div *ngIf="newPasswordRef.errors?.required && (newPasswordRef.dirty || newPasswordRef.touched)" class="alert alert-danger">Password is required</div>

                    <input type="text" class="formField form-control" name="confirmNewPassword" [(ngModel)]='confirmNewPassword' type="password" placeholder="Confirm New Password" required #confirmNewPasswordRef="ngModel">
                    <div *ngIf="confirmNewPasswordRef.errors && (confirmNewPasswordRef.dirty || confirmNewPasswordRef.touched)" class="alert alert-danger">
                        <div *ngIf="confirmNewPasswordRef.errors.required">Confirm Password is required</div>
                        <div *ngIf="confirmNewPasswordRef.errors.mustMatch">Passwords must match</div>
                    </div>

                    <div class="formActions">
                        <input type="submit" [disabled]="!accountForm.form.valid" class="btn btn-primary form-control formBtn activeBtn" value="Reset Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>